<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Bootstrap Cheat sheet</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      .col .card{
        margin-top: 10%;
        padding-top: 1%;
        width:14rem;
        margin-bottom:55px;
        border-color: rgb(54, 124, 188);
        box-sizing: border-box;
        height: 85%;
      }
      h5{
        background-color: rgb(54, 124, 188);
        color:white;
      }
      h5:hover,h5:focus{
        border: 1px solid rgb(54, 124, 188);
        border-top: none;
        color:rgb(54, 124, 188);
        background-color: white;
      }
      a:hover{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="margin-right:1%;">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}" >LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>

  <div class="container" style="margin-top:20px;">
    <img th:src="@{/images/wallnew2.png}" alt="AAIT" class="mx-auto d-block img-fluid">
    <br>
    <div class="row mx-auto">
      <div class="col">
        <div class="card">
          <a href=#> <h5 class="card-title text-center">Academic Calender</h5> </a>
          <p class="card-text"> <ul> <li type="square"> View how the school year is planned and laid out to get a good foresight.</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a th:href="@{/displayAnnouncement}"> <h5 class="card-title text-center">Announcements</h5> </a>
          <p class="card-text"> <ul> <li type="square"> Find out recent notices about school events and other related informations.</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href=#> <h5 class="card-title text-center">Posts</h5> </a>
          <p class="card-text"> <ul> <li type="square"> See updates and posts from teachers about their respective courses.</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href=#> <h5 class="card-title text-center">Scholarships</h5> </a>
          <p class="card-text"> <ul> <li type="square"> Look up opportunities provided by the university and other collaborating institutes.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{jquery/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>

</html>
