<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>AAIT ITSC NoticeBoard - Teacher's Info</title>
    <style>
      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #saveBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 15%;
      }
      #saveBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      .buttons{
        padding-left:28px;
        padding-right:28px;
        margin-left: 20%;
        }
        .main {
        margin-top:-0.9%;
        margin-bottom:4%;
		}
        
      
    </style>
  </head>
  <body>
    <h1><span th:text="${successMessage}"></span></h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/registerDeanOrTeacher}">Register Dean or Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reset Password<span class="sr-only">(current)</span></a>
        </li>
       </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
<br><br><br>
  <!-- Form -->
  <div class="container main">
  <form th:method="POST" th:object="${user}" th:action="@{/registerDeanOrTeacher}">
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> First Name </label>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Teacher's First name" th:field="*{firstName}" >
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('firstName')}" 
     			th:errors="*{firstName}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Last Name </label>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Teacher's Last name" th:field="*{lastName}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('lastName')}" 
     			th:errors="*{lastName}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Email </label>
    <div class="col-5">
      <input type="email" class="form-control" placeholder="Teacher's email" th:field="*{email}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('email')}" 
     			th:errors="*{email}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Course </label>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Teacher's course" th:field="*{course}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('course')}" 
     			th:errors="*{course}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Office </label>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Teacher's office" th:field="*{office}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('office')}" 
     			th:errors="*{office}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Consultation Days </label>
    <div class="col-5">
      <div class="form-check">
	    <input type="checkbox" class="form-check-input" th:value="Monday" th:field="*{consultationDays}" id="monday">
	    <label class="form-check-label" for="monday">Monday</label>
	  </div>
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="tuesday" th:value="Tuesday" th:field="*{consultationDays}">
	    <label class="form-check-label" for="tuesday">Tuesday</label>
	  </div>
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="wednesday" th:value="Wednesday" th:field="*{consultationDays}">
	    <label class="form-check-label" for="wednesday">Wednesday</label>
	  </div>
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="thursday" th:value="Thursday" th:field="*{consultationDays}">
	    <label class="form-check-label" for="thursday">Thursday</label>
	  </div>
	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="friday" th:value="Friday" th:field="*{consultationDays}">
	    <label class="form-check-label" for="friday">Friday</label>
	  </div>
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('consultationDays')}" 
     			th:errors="*{consultationDays}">Error</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Username </label>
    <div class="col-5">
      <input type="text" class="form-control" placeholder="Username" th:field="*{username}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('username')}" 
     			th:errors="*{username}">Error</span>
    </div>
  </div>
 
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> Password </label>
    <div class="col-5">
      <input type="password" class="form-control" placeholder="Should be atleast 8 characters long" th:field="*{password}">
      <span class="text-danger" 
     			th:if="${#fields.hasErrors('password')}" 
     			th:errors="*{password}">Error</span>
    </div>
  </div>
  
  <div class="form-group row" th:object="${role}">
     <p style="margin-right:14%;margin-left:1.5%; margin-top:auto; margin-bottom:auto;"> Role </p>
	  <div class="form-check form-check-inline" style="margin-right:10%;">
	  		<input type="radio" class="form-check-input" name="role" id="dean" th:field=*{userRole} th:value="DEAN">
	  		<label class="form-check-label" for="dean">Dean</label>
	  </div>
	  <div class="form-check form-check-inline">
	  		<input type="radio" class="form-check-input" name="role" th:field=*{userRole} th:value="TEACHER" id="teacher">
	  		<label class="form-check-label" for="teacher">Teacher</label>
	  </div>
	  <span class="text-danger" 
     			th:if="${#fields.hasErrors('userRole')}" 
     			th:errors="*{userRole}">Error</span>
  </div>
  <div class="buttons">
  		<button id="saveBtn" class="btn btn-outline-info" name="register" type="submit">Register</button>
  		<button id="cancelBtn" class="btn btn-outline-danger" name="cancel" type="submit">Cancel</button>
  </div>
  
</form>
</div>


  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{jquery/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>

</html>
