<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <title>About Us</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      .col .card{
        margin-top: 10%;
        padding-top: 1%;
        width:14rem;
        margin-bottom:55px;
        border-color: rgb(54, 124, 188);
        box-sizing: border-box;
        height: 85%;
      }
      h5{
        background-color: rgb(54, 124, 188);
        color:white;
      }
      h5:hover,h5:focus{
        border: 1px solid rgb(54, 124, 188);
        border-top: none;
        color:rgb(54, 124, 188);
        background-color: white;
      }
      a:hover{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAiT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/about}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="margin-right:1%;">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}" >LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  
    <div class="container" style="margin-top:20px;">
    <img src="images/wallnew2.png" alt="AAIT" class="mx-auto d-block img-fluid">
    <br>
    <div>
    <h5 class="text-center">About Us</h5><br>
    <p>ITSC Notice Board is created for the purpose of giving notice to the students whenever a notice or an announcement is made. It also provides the teacher and students any kind of new information. The website also provides scholarship links, resources and other contact information.</p>
    <p>It provides all the information needed to the whole department. The dean can post an announcement that appear on the whole website where it can be accessed by anyone who could open the pages. The dean is the only one who could add teachers while the teachers are the ones who could give resources and announcements like exam dates to students.Both the announcement and resources added by the dean and teacher are accessible. The teachers resources are found based on the course name they give out. </p>
    <p>The notice board is used as a bulletin point board by those who posts any events. The posting is only done by the dean and teaching staffs. The post made by the dean is for everyone to read and do as they plese while the posts done by the teachers are for the selective courses only. All resources are provided by teachers. Both dean and teacher must login to access their posting form. </p>
    <p>Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper.<br><br><br> </p>
    </div>
   </div>
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>

</html>