<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<<<<<<< HEAD
    <title>AAIT ITSC NoticeBoard - Announcements</title>
=======
    <title>Bootstrap Cheat sheet</title>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      .col .card{
        margin-top: 10%;
        padding-top: 1%;
        width:14rem;
        margin-bottom:55px;
        border-color: rgb(54, 124, 188);
        box-sizing: border-box;
        height: 85%;
      }
      h5{
        background-color: rgb(54, 124, 188);
        color:white;
      }
      h5:hover,h5:focus{
        border: 1px solid rgb(54, 124, 188);
        border-top: none;
        color:rgb(54, 124, 188);
        background-color: white;
      }
      a:hover{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" th:href="@{/}">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<li class="nav-item">
<<<<<<< HEAD
          	<a class="nav-link" th:href="@{/about}">About</a>
=======
          	<a class="nav-link" href="#">About</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Academic Calender<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link" th:href="@{/displayAnnouncement}">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayPosts?year=1}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayScholarship}">Scholarships</a>
=======
          <a class="nav-link" th:href="@{/displayAnnouncement}">Announcement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{displayPosts?year=1}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scholarships</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">LOGIN</a>
        </li>
      </ul>

    </div>
  </nav>
  <br><br>

  <div class="container" style="margin-top:20px;">
    <img th:src="@{/images/wallnew2.png}" alt="AAIT" class="mx-auto d-block img-fluid">
    <br>
    <h3 class="display-5">Posted Announcements</h3>
    <div th:if="${announcements == 'empty'}" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No announcement posted</h3>
    </div>
    <div th:if="${announcements !='empty'}" class="jumbotron" style="margin-bottom: 5%; border-radius:13px;" >
<<<<<<< HEAD
  		<div th:each="announcement : ${announcements}" style="margin-bottom:8%;background-color:rgb(146,204,255,0.66); padding:7%; border-radius:13px; width:70%; margin-left:15%; margin-right:15%;">
  		<h2 th:text="'A Note From the Dean: '+${announcement.user.firstName} + ' '+${announcement.user.lastName}"></h2>
  		<hr class="my-4">
  		<b style="font-size:19px;" th:text="'Posted at: '+${announcement.createdAt}"></b>
  		<br>
  		<p style="font-size:25px;" th:utext="'<u>'+${announcement.header}+'</u>'"></p>
  		<p style="font-size:20px;" th:text="'Details: '+${announcement.detail}"></p>
=======
  		<div th:each="announcement : ${announcements}" style="margin-bottom:8%;background-color:rgb(146,204,255); padding:4%; border-radius:13px;">
  		<b style="font-size:19px;" th:text="'Posted at: '+${announcement.createdAt}"></b>
  		<br><hr class="my-4">
  		<h3 th:text="'Header: '+${announcement.header}"></h3>
  		<p style="font-size:25px;" th:text="'Details: '+${announcement.detail}"></p>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
  		
  	</div>
  </div>
  </div>
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>

</html>
