<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>AAIT ITSC NoticeBoard - Scholarships</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #editBtn{
        border-color: green;
        background-color: white;
        color:green;
        padding-left:28px;
        padding-right:28px;
        margin-right: 50px;
        border-radius: 20px;
      }
      #editBtn:hover{
        color:white;
        background-color: green;
      }

      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	margin-top:2%;
      	border: 1px solid rgb(54, 124, 188);
      	color: rgb(54, 124, 188);

      }
      #link:hover, #link:focus{
      	color : white;
      	background-color : rgb(54, 124, 188);
      	text-decoration : none;
      }
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" th:href="@{/}">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<li class="nav-item">
          	<a class="nav-link" th:href="@{/about}">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Academic Calender<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayAnnouncement}">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{displayPosts?year=1}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/postScholarship}">Scholarships</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">LOGIN</a>
        </li>
      </ul>

    </div>
  </nav>

<br><br>
  <!-- Table -->
  <div class="container">
      <img th:src="@{/images/wallnew2.png}" alt="AAiT" class="mx-auto d-block img-fluid">
      
      <div th:if="${scholarships == 'empty'}" style="background-color:rgb(146,204,255,0.55); padding:4%; border-radius:13px; margin-bottom:4%; margin-right:7%; margin-left:7%;">
    	<h3>No scholarships available</h3>
      </div>
      <div th:if="${scholarships != 'empty'}">
      <h1>Posted Scholarships</h1>
      <div class="row">
      	<div class="col-lg" th:each="scholarship : ${scholarships}" style="background-color:rgb(146,204,255,0.55); font-family:Swiss; font-size: 20px; margin-bottom:4%; padding:3%; padding-left:5%; border-radius:160px;">
      		<p th:text="'University Name: '+${scholarship.universityName}"></p>
      		<p th:text="'Description: '+${scholarship.description}"></p>
      		<form method="get" id="searchForm" action="http://www.google.co.uk/search?h1=en-GB&source=hp&q=">
      			<div>
      			<label class="screen-reader-text" for="s"></label>
      			<input type="hidden" th:value="'Apply for '+${scholarship.universityName}" th:name="q" th:id="s">
      			<input type="submit" id="editBtn" class="btn btn-success" value="Apply">
      			</div>
      		</form>
      	</div>
      </div>
      </div>
   </div>
  

  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
