<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
<<<<<<< HEAD
    <title>AAIT ITSC NoticeBoard - Teacher Posts</title>
=======
    <title>AAIT ITSC NoticeBoard - Edit Announcements</title>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #editBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
<<<<<<< HEAD
        border-radius: 20px;
        background-color: white;
      }
      #editBtn:hover{
        color: white;
=======
      }
      #editBtn:hover{
        color:white;
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        background-color: rgb(54, 124, 188);
      }

      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	margin-top:2%;
      	border: 1px solid rgb(54, 124, 188);
      	color: rgb(54, 124, 188);

      }
      #link:hover, #link:focus{
      	color : white;
      	background-color : rgb(54, 124, 188);
      	text-decoration : none;
      }
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
<<<<<<< HEAD
      	}
  	  .form-log {
	    background-color: rgba(0,0,0,0.55);
	    padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 20px;
	    padding-right: 20px;
	    border-radius: 15px;
	    border-color: #d2d2d2;
	    border-width: 5px;
	    box-shadow: 0 1px 0 #cfcfcf;
	    width:90%;
	    margin-bottom:5%;
	  }
      	
      	
=======
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" th:href="@{/}">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<li class="nav-item">
<<<<<<< HEAD
          	<a class="nav-link" th:href="@{/about}">About</a>
=======
          	<a class="nav-link" href="#">About</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Academic Calender<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link" th:href="@{/displayAnnouncement}">Announcements</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayScholarship}">Scholarships</a>
=======
          <a class="nav-link" th:href="@{/displayAnnouncement}">Announcement</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Scholarships</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        </li>
        <li class="nav-item  active">
          <a class="nav-link" th:href="@{displayPosts?year=1}">Posts</a>
        </li>
        <li class="nav-item dropdown" style="color:white; padding-top:1%; ">
          <p class="dropdown-toggle" style="color:white;" data-toggle="dropdown">Year</p>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/displayPosts?year=1}">1</a>
          	<a class="dropdown-item" th:href="@{/displayPosts?year=2}">2</a>
          	<a class="dropdown-item" th:href="@{/displayPosts?year=3}">3</a>
          	<a class="dropdown-item" th:href="@{/displayPosts?year=4}">4</a>
          	<a class="dropdown-item" th:href="@{/displayPosts?year=5}">5</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">LOGIN</a>
        </li>
      </ul>

    </div>
  </nav>

<br><br>
  <!-- Table -->
  <div class="container" style="margin-top:2%;">
<<<<<<< HEAD
    
    <div style="background-color:rgb(211,211,211,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
    <h1 >First Semester</h1>
    <hr><br>
    <h3 class="display-5">Posted Announcements</h3>
    <div th:if="${announcements == 'empty'}" style="background-color:rgb(146,204,255,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No announcement posted</h3>
    </div>
    <div th:if="${announcements !='empty'}" th:each="announcement : ${announcements}">
	  	<div class="row" >
	        <div class="col-md-6">
	        <div style="background-color:rgb(146,204,255,0.55); padding:7%; border-radius:13px; margin-bottom:3%;">
	             <p style="text-align:center; font-size:40px;" th:utext="'<u>'+${announcement.header}+'</u>'"></p>
	             <h5 th:text="'Posted by: '+${announcement.user.firstName}+' '+${announcement.user.lastName}"></h5>
	             <hr>
	             <p th:text="'Posted at: '+${announcement.createdAt}"> </p>	            
	             <p th:text="'Course: '+${announcement.user.course}"></p>
	             <p th:text="'Description: '+${announcement.description}"></p>
	             
	            </div>
=======
    <h3 class="display-5">Posted Announcements</h3>
    <div th:if="${announcements == 'empty'}" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No announcement posted</h3>
    </div>
    <div th:if="${announcements !='empty'}" th:each="announcement : ${announcements}">
	  	<div class="row" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
	        <div class="col-md-6 form-login">
	        	<h4 th:utext="'Header: <u>'+${announcement.header}+'</u>'"></h4>
	        	<b th:text="'Posted at: '+${announcement.createdAt}"> </b>
	             <h5 th:text="'Posted by: '+${announcement.user.firstName}+' '+${announcement.user.lastName}"></h5>
	             <h6 th:text="'Course: '+${announcement.user.course}"></h6>
	             <p th:text="'Description: '+${announcement.description}"></p>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
	          </div>   
	       </div>
	   </div>
	   <h3 class="display-5">Posted Resources</h3>
<<<<<<< HEAD
	   <div th:if="${resources == 'empty'}" style="background-color:rgb(146,204,255,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
    		<h3>No resources posted</h3>
       </div>
       <div th:if="${resources!='empty'}" th:each="resource : ${resources}">
	  	<div class="row">
	        <div class="col-md-6">
	          <div style="background-color:rgb(146,204,255,0.55); padding:7%; border-radius:13px; margin-bottom:3%;">
	             <p style="text-align:center; font-size:40px;" th:utext="'<u>'+${resource.header}+'</u>'"></p>
	             <h5 th:text="'Posted by: '+${resource.user.firstName}+' '+${resource.user.lastName}"></h5>
	             <hr>
	             <p th:text="'Posted at: '+${resource.createdAt}"> </p>	            
	             <p th:text="'Course: '+${resource.user.course}"></p>
	             <p th:text="'Description: '+${resource.description}"></p>
	             
	             <a th:href="@{/uploads/{path}(path=${resource.getResourcePath()})}" class="btn btn-primary" id="editBtn">View Resource</a> 
	          
          		 </div>
	          </div>   
	       </div>
	   </div>
	   </div>
	   <div style="background-color:rgb(211,211,211,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
	   
	   <h1>Second Semester</h1>
	   <hr><br>
	   <h3 class="display-5">Posted Announcements</h3>
    <div th:if="${announcements2 == 'empty'}" style="background-color:rgb(146,204,255,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No announcement posted</h3>
    </div>
    <div th:if="${announcements2 !='empty'}" th:each="announcement : ${announcements2}">
	  	<div class="row form-log">
	        <div class="col-md-6">
	          <div style="background-color:rgb(146,204,255,0.55); padding:7%; border-radius:13px; margin-bottom:3%;">
	             <p style="text-align:center; font-size:40px;" th:utext="'<u>'+${announcement.header}+'</u>'"></p>
	             <h5 th:text="'Posted by: '+${announcement.user.firstName}+' '+${announcement.user.lastName}"></h5>
	             <hr>
	             <p th:text="'Posted at: '+${announcement.createdAt}"> </p>	            
	             <p th:text="'Course: '+${announcement.user.course}"></p>
	             <p th:text="'Description: '+${announcement.description}"></p>
	             
	            </div>
	          </div>   
	       </div>
	   </div>
	   <h3 class="display-5">Posted Resources</h3>
	   <div th:if="${resources2 == 'empty'}" style="background-color:rgb(146,204,255,0.55); padding:4%; border-radius:13px; margin-bottom:4%;">
    		<h3>No resources posted</h3>
       </div>
       <div th:if="${resources2 !='empty'}" th:each="resource : ${resources2}">
	  	<div class="row">
	        <div class="col-md-6">
	          <div style="background-color:rgb(146,204,255,0.55); padding:7%; border-radius:13px; margin-bottom:3%;">
	             <p style="text-align:center; font-size:40px;" th:utext="'<u>'+${resource.header}+'</u>'"></p>
	             <h5 th:text="'Posted by: '+${resource.user.firstName}+' '+${resource.user.lastName}"></h5>
	             <hr>
	             <p th:text="'Posted at: '+${resource.createdAt}"> </p>	            
	             <p th:text="'Course: '+${resource.user.course}"></p>
	             <p th:text="'Description: '+${resource.description}"></p>
	             
	             <a th:href="@{/uploads/{path}(path=${resource.getResourcePath()})}" class="btn btn-primary" id="editBtn">View Resource</a> 
	          
          		 </div>
	          </div>   
	       </div>
	   </div>
	   </div>
	   <br>
	   
=======
	   <div th:if="${resources == 'empty'}" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
    		<h3>No resources posted</h3>
       </div>
       <div th:if="${resources!='empty'}" th:each="resource : ${resources}">
	  	<div class="row" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
	        <div class="col-md-6 form-login">
	             <h4 th:utext="'Header: <u>'+${resource.header}+'</u>'"></h4>
	             <h5 th:text="'Posted at: '+${resource.createdAt}"> </h5>	            
	             <h6 th:text="'Posted by: '+${resource.user.firstName}+' '+${resource.user.lastName}"></h6>
	             <h6 th:text="'Course: '+${resource.user.course}"></h6>
	             <p th:text="'Description: '+${resource.description}"></p>
	             
	             <input type="hidden" name="path" th:value="${resource.getResourcePath()}"/>
          		 <a th:href="@{{path}(path=${resource.getResourcePath()})}" class="btn btn-primary">View</a> 
          	     <!-- <a th:href="${resource.getResourcePath()}" class="btn btn-primary">View Resource</a>   -->
          		 
	          </div>   
	       </div>
	   </div>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
  </div>
  

  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>