<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>AAIT ITSC NoticeBoard - Scholarship List</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #editBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #editBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      
      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	margin-top:2%;
      	border: 1px solid rgb(54, 124, 188);
      	color: rgb(54, 124, 188);
      	
      }
      #link:hover, #link:focus{
      	color : white;
      	background-color : rgb(54, 124, 188);
      	text-decoration : none;
      }
      table{
      	counter-reset:section;
      	
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{announcement}">Announcements<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/registerTeacher}">Register Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Academic Calender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/postScholarship}">Scholarships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teacher's List</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>

<br><br>
  <!-- Table -->
  <div class="container">
  	 
      <img th:src="@{/images/wallnew2.png}" alt="AAiT" class="mx-auto d-block img-fluid">
      <div th:if="${scholarships == 'empty'}" style="background-color:rgb(146,204,255); padding:4%; border-radius:13px; margin-bottom:4%;">
    	<h3>No scholarships available</h3>
      </div>
      </div>
      <table th:if="${scholarships != 'empty'}" class="table">
	      <thead class=" bg-company-blue" style="width:100%; background-color:rgb(146,204,255,0.77);">
	      <tr> 
	      <th scope="col">No.</th>
	      <th scope="col">ID</th>
	      <th scope="col">University Name</th>
	      <th scope="col">Description</th>
	      <th scope="col"></th>
	      <th scope="col"></th>
	      </tr>
	      </thead>
	      <tbody>
	      <tr th:each="post : ${scholarships}">
	      
	      <th scope="row" class="count" ></th>
	      <td th:text="${post.id}">No IDs to display</td>
	      <td th:text="${post.universityName}">No headers to display</td>
	      <td th:text="${post.description}">No details to in input</td>
	      
	      <form method="post" th:method="POST" th:action="@{/editScholarships}">
	          <input type="hidden" name="s_id" th:value="${post.id}">
		      <td><button id="editBtn" class="btn btn-outline-info" name="edit">Edit</button></td>
		      <td><button class="btn btn-outline-danger" name="delete">Delete</button></td>
	      </form>
	      </tr>
	      </tbody>
      </table>
  
  
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
