<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Bootstrap Cheat sheet</title>
    <style>

      img {
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
      }

      #loginBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        padding-left: 15%;
        padding-right: 15%;
        margin-right: 15%;
        border-radius: 40px;

      }
      h3{
        color: rgb(54, 124, 188);
      }

      #loginBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);

      }
      #cancelBtn{
        border-color: red;
        color:red;
        padding-left: 13%;
        padding-right: 13%;
        border-radius: 40px;
      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      .buttons{
        margin-top: 15%;
        margin-bottom: 15%;

      }

      #login_body{

        border: 2px solid white;
        border-radius: 10px;
        width:30%;
        box-shadow: 6px 6px 6px black;
        margin-left:auto;
        margin-right:auto;
        background-color: white;
        margin-top: 5%;

      }

    </style>
  </head>
  <body class="h-100 row align-items-center" style="background-color:#989898;">

    <div class="container" id="login_body">
        <img th:src="@{/images/wallnew2.png}"/>
        <h3 class="text-center" style="margin-top:5%;margin-bottom:7%; text-shadow: 2px 2px rgba(54, 124, 188,0.3);">LOGIN FORM</h3>
        <hr>
        <form th:action="@{/login}" method="post">
          <div class="input-group mb-3" style="margin-top:12%">
            <div class="input-group-prepend">
              <span class="input-group-text">Username</span>
            </div>
            <input type="text" class="form-control" name="username" id="username">
          </div>

          <div class="input-group mb-3" style="margin-top:10%;">
            <div class="input-group-prepend">
              <span class="input-group-text">Password </span>
            </div>
            <input type="password" class="form-control" name="password" id="password">
          </div>
          <div class="text-danger" align="center" th:if="${param.error}">
				<p>Username or Password invalid, please verify</p>
			</div>
          <div class="buttons">
          <button id="loginBtn" class="btn btn-outline-info" name="login" type="submit">Log In</button>
          <a id="cancelBtn" class="btn btn-outline-danger" th:href="@{/}" >Cancel</a>
        </div>
        </form>
    </div>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
