<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>AAIT ITSC NoticeBoard - Post Announcements</title>
    <style>
.bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #postBtn{
        margin-right: 15%;
        padding-right:3.5%;
        padding-left:3.5%;
      }
      
      #cancelBtn{
        border-color: red;
        color:red;
        padding-right:3.5%;
        padding-left:3.5%;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      .buttons{
        padding-left:28px;
        padding-right:28px;
        margin-left: 20%;
       }
        .main {
        margin-top:-0.9%;
        margin-bottom:4%;
	   }
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }
      #link{
      	float:right;
      	margin-top:2%;
      	}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/uploadPost}">Upload Resources</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/postTeacherAnnouncement}">Post Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/listTeacherResources}">Delete Resource</a>
        </li>
       </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
  
  <br><br>
  <nav th:if="${success!='empty'}"  class="navbar navbar-light bg-light" >
	<a class="navbar-brand" href="#">
		<h1 th:text="${success}" style="color: green; margin-top:3%;"></h1>
	</a>
 </nav>
 <br>
  <!-- Table -->
  <div class="container">
    	<a th:href="@{/listTeacherAnnouncements}" id="link"> EDIT EXISTING ANNOUNCEMENT </a>
  
  <img th:src="@{/images/wallnew2.png}" alt="AAIT" class="mx-auto d-block img-fluid">
  
   <form method="POST" th:object="${announcement}" th:action="@{/postTeacherAnnouncement}">
	      <div class="form-group row">
	        <label for="postHeader"> Header </label>
	        <input type="text" class="form-control" placeholder="Input the header title for the post" th:value="${announcement?.header}" th:name="header" th:id="header" th:errorclass="fieldError">
	        <span class="text-danger" 
     			th:if="${#fields.hasErrors('header')}" 
     			th:errors="*{header}">Name Error</span>
     			
	      </div>
	      <div class="form-group row">
	        <label for="postDetail"> Description </label>
	        <textarea class="form-control" placeholder="Input the details for the post" style="height:80px;" th:text="${announcement?.description}" th:name="description" th:id="description" th:errorclass="fieldError"></textarea>
	        <span class="text-danger" 
     			th:if="${#fields.hasErrors('description')}" 
     			th:errors="*{description}">Name Error</span>
	      </div>
	      <div class="form-group row">
	        <label for="year" style="margin-right:1%;"> Year </label>
	        <select th:name="year" th:id="year" th:errorclass="fieldError">
	        	<option th:if="${announcement.year != '1'}" th:value="1">1</option>
	            <option th:if="${announcement.year == '1'}" th:value="1" selected="selected">1</option>
	        	
	        	<option th:if="${announcement.year != '2'}" th:value="2">2</option>
	            <option th:if="${announcement.year == '2'}" th:value="2" selected="selected">2</option>	 
	            
	            <option th:if="${announcement.year != '3'}" th:value="3">3</option>
	            <option th:if="${announcement.year == '3'}" th:value="3" selected="selected">3</option>
	            
	            <option th:if="${announcement.year != '4'}" th:value="4">4</option>
	            <option th:if="${announcement.year == '4'}" th:value="4" selected="selected">4</option>
	            
	            <option th:if="${announcement.year != '5'}" th:value="5">1</option>
	            <option th:if="${announcement.year == '5'}" th:value="5" selected="selected">5</option>
	        </select>
	        <label for="semester" style="margin-left:10%; margin-right:1%;"> Semester </label>
	        <select th:field="*{semester}">
	            <option th:if="${announcement.semester != '1'}" th:value="1">1</option>
	        	<option th:if="${announcement.semester == '1'}" th:value="1"  selected="selected">1</option>
	        	
			    <option th:if="${announcement.semester != '2'}" th:value="2">2</option>
	        	<option th:if="${announcement.semester == '2'}" selected="selected" th:value="2">2</option>
	        </select>
	      </div> 
	      
	      <div class="buttons">
	        <button id="postBtn" class="btn btn-outline-info" name="post">Post</button>
	        <button id="cancelBtn" class="btn btn-outline-danger" name="clear">Clear</button>
	        <br><br><br><br>
	    </div>
	   </form>
  </div>
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
