<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>AAIT ITSC NoticeBoard - Teacher's Info</title>
    <style>
      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #saveBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 15%;
      }
      #saveBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      .buttons{
        padding-left:28px;
        padding-right:28px;
        margin-left: 20%;
        }
        .main {
        margin-top:-0.9%;
        margin-bottom:4%;
		}


    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/registerDeanOrTeacher}">Register Dean or Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@{/resetPassword}">Reset Password<span class="sr-only">(current)</span></a>
        </li>
       </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
<br><br><br>
  <!-- Form -->
  
    <!-- Form -->
  <div class="container main">
  <form th:method="POST" th:object="${pdto}" th:action="@{/resetPassword}">
  <div class="form-group row">
		<img th:src="@{/images/wallnew2.png}" alt="AAIT" class="mx-auto d-block img-fluid">
    <label for="name" class="col-2 col-form-label"> Enter Password </label>
    <div class="col-5">
      <input type="password" class="form-control" id="oldPass" name="oldPassword" placeholder="Enter old Password" th:field="*{oldPassword}">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label"> New Password </label>
    <div class="col-5">
      <input type="password" class="form-control" id="newPass" name="newPassword" placeholder="Type new Password" th:field="*{newPassword}">
      
    </div>
  </div>
 
  <span id="error" style="display:none">Password mismatch</span>
  <div class="buttons">
  		<button id="saveBtn" class="btn btn-outline-info" name="reset" type="submit">Reset</button>
  		<a id="cancelBtn" class="btn btn-outline-danger" th:href="@{/registerDeanOrTeacher}">Cancel</a>
  </div>

</form>
</div>
        
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script type="text/javascript">
<!--
var serverContext = [[@{/}]];
function savePass(){
    var pass = $("#newPass").val();
    var valid = pass == $("#confirmPass").val();
    if(!valid) {
      $("#error").show();
      return;
    }
    $.post(serverContext + "/resetPassword",
      {password: pass, oldpassword: $("#oldPass").val()} ,function(data){
        window.location.href = serverContext +"/home.html?message="+data.message;
    })
    .fail(function(data) {
        $("#errormsg").show().html(data.responseJSON.message);
    });
}-->
</script>

</html>
