<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<<<<<<< HEAD
    <title>AAIT ITSC NoticeBoard - Upload Resources</title>
=======
    <title>AAIT ITSC NoticeBoard - Teacher's Info</title>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
    <style>
      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }
      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #postBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 15%;
      }
      #postBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      #cancelBtn{
        border-color: red;
        color:red;

      }
      #cancelBtn:hover{
        color:white;
        background-color: red;
      }
      .buttons{
        padding-left:28px;
        padding-right:28px;
        margin-left: 20%;
<<<<<<< HEAD
       }
        .main {
        margin-top:-0.9%;
        margin-bottom:4%;
	   }
=======
        }
        .main {
        margin-top:-0.9%;
        margin-bottom:4%;
		}
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        
      
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
<<<<<<< HEAD
          <a class="nav-link" th:href="@{/uploadPost}">Upload Resources</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" th:href="@{/postTeacherAnnouncement}">Post Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/listTeacherResources}">Delete Resource</a>
=======
          <a class="nav-link" th:href="@{/uploadPost}">Upload Post</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
        </li>
       </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>
<br><br>
<nav class="navbar navbar-light bg-light" >
<<<<<<< HEAD
	<a class="navbar-brand" href="#">
		<h1  th:if="${success!='empty'}" th:text="${success}" style="color: green; margin-top:5%;"></h1>
	</a>
=======
		<a class="navbar-brand" href="#">
			<h1  th:if="${success!='empty'}" th:text="${success}" style="color: green; margin-top:5%;"></h1>
		</a>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
 </nav>
<br><br>
  <!-- Form -->
  <div class="container main">
<<<<<<< HEAD
  
=======
  <div class="container">
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
  <img th:src="@{/images/wallnew2.png}" alt="AAIT" class="mx-auto d-block img-fluid">
    <form method="POST" th:object="${post}" enctype="multipart/form-data" th:action="@{/uploadPost}">
	      <div class="form-group row">
	        <label for="postHeader"> Header </label>
	        <input type="text" class="form-control" placeholder="Input the header title for the post" th:value="${post?.header}" th:name="header" th:id="header" th:errorclass="fieldError">
	        <span class="text-danger" 
     			th:if="${#fields.hasErrors('header')}" 
     			th:errors="*{header}">Name Error</span>
     			
	      </div>
	      <div class="form-group row">
	        <label for="postDetail"> Description </label>
	        <textarea class="form-control" placeholder="Input the details for the post" style="height:80px;" th:text="${post?.description}" th:name="description" th:id="description" th:errorclass="fieldError"></textarea>
	        <span class="text-danger" 
     			th:if="${#fields.hasErrors('description')}" 
     			th:errors="*{description}">Name Error</span>
	      </div>
	      <div class="form-group row">
	        <label for="year" style="margin-right:1%;"> Year </label>
	        <select th:field=*{year}>
	        	<option selected="selected" th:value="1">1</option>
	        	<option th:value="2">2</option>
	        	<option th:value="3">3</option>
	        	<option th:value="4">4</option>
	        	<option th:value="5">5</option>
	        </select>
	        <label for="semester" style="margin-left:10%; margin-right:1%;"> Semester </label>
	        <select th:field="*{semester}">
	        	<option th:value="1" selected="selected">1</option>
	        	<option th:value="2">2</option>
	        </select>
	      </div> 
	      <div class="form-group row"><span>
	        <label for="resource"> Resource file </label>
<<<<<<< HEAD
	        <input th:value="${resourceFile}" name="file" type="file" class="form-control input-sm chat-input" placeholder="Insert file" accept="application/pdf" required="required"></span>
	        
=======
	        <input th:value="${resourceFile}" name="file" type="file" class="form-control input-sm chat-input" placeholder="Insert file" accept="application/pdf"></span>
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500
	        <span class="text-danger" 
     			th:if="${#fields.hasErrors('resourceFile')}" 
     			th:errors="*{resourceFile}">Name Error</span>
	      </div>
	      <div class="buttons">
	        <button id="postBtn" class="btn btn-outline-info" name="post">Post</button>
	        <button id="cancelBtn" class="btn btn-outline-danger" name="clear">Clear</button>
	        <br><br><br><br>
	    </div>
	   </form>
<<<<<<< HEAD
  
=======
  </div> 
>>>>>>> 94de5792cc85a10028a61c4634c354205429d500

  </div>


  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>

</html>
