<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>AAIT ITSC NoticeBoard - Edit Announcements</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #editBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #editBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      
      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	}
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/announcement}">Announcements<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/registerTeacher}">Register Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Academic Calender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scholarships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teacher's List</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>

<br><br>
  <!-- Table -->
  <div class="container">
  	  <a th:href="@{/announcement}" id="link"><img th:src="@{/images/left-arrow.png}" alt="BACK"/></a>
      <img th:src="@{/images/wallnew2.png}" alt="AAiT" class="mx-auto d-block img-fluid">
      <table class="table">
	      <thead>
	      <tr> 
	      <th scope="col">No.</th>
	      <th scope="col">ID</th>
	      <th scope="col">Header</th>
	      <th scope="col">Description</th>
	      </tr>
	      </thead>
	      <tbody>
	      <tr th:each="post : ${announcements}">
	      
	      <th scope="row" class="count" ></th>
	      <td th:text="${post.id}">No IDs to display</td>
	      <td th:text="${post.header}">No headers to display</td>
	      <td th:text="${post.detail}">No details to in input</td>
	      
	      <form method="post">
	      <input type="hidden" name="a_id" th:value="${post.id}">
		      <td><button id="editBtn" class="btn btn-outline-info" name="edit">Edit</button></td>
		      <td><button class="btn btn-outline-danger" name="delete">Delete</button></td>
	      </form>
	      </tr>
	      </tbody>
      </table>
  </div>
  
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{jquery/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
